html, body {
    height: 100%;
    width: 100%;
    max-height : 100%;
    max-width  : 100%;
    overflow : hidden;
    background: #FFF url('../img/background.png');
    background-repeat : repeat-x;
    background-size : contain;
}

#participants {
    height: 100%;
}

.participant {
    height: 100%;
}


.carousel {
    width: 100%;
    overflow: hidden;
    background-color : #FFF;
    position : relative;
}

.carousel .train {
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: -webkit-transform 0.6s;
    white-space: nowrap;
}

.carousel .train .carriage {
    display: inline-block;
    margin-left : 20%;
    margin-right : 25%;
    position : relative;
}

.carousel .train .carriage img.photo{
     -webkit-transform: translate3d(0,0,0);

    width: 100%;
    -webkit-user-drag: none;
}
.carousel .train .carriage .price{
    position : absolute;
    right : 0;
    bottom : 0;
    background-color : #000;
    padding-left : 10px;
    padding-right:10px;
    padding-top : 2px;
    padding-bottom : 2px;
    color : #FFF;
}



.carousel .arrows {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: opacity 0.6s;
}

.touch .carousel .arrows {
    display: none;
}

.carousel .arrows:hover {
    opacity: 1.0;
}

.carousel .arrow-up {
    height: 40px;
    top: 0;
    left: 40px;
    right: 40px;
    background-image: url(../img/arrow_up.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.carousel .arrow-down {
    height: 40px;
    bottom: 0;
    left: 40px;
    right: 40px;
    background-image: url(../img/arrow_down.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.carousel .arrow-left {
    width: 40px;
    top: 0;
    left: 0;
    bottom: 0;
    background-image: url(../img/arrow_left.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.carousel .arrow-right {
    width: 40px;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: url(../img/arrow_right.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.carousel .arrow {
    position: absolute;
    opacity: 0.3;
    cursor: pointer;
}



#action_bar{
    position : absolute;
    bottom : 0;
    left : 0;
    width : 100%;
    height : 70pt;
    background-color : black;
    color : white;
    font-size : 20px;
}
#logo{
    background-image : url("../img/logo_for_dark_background.png");
    background-size : contain ;
    background-repeat : no-repeat;
    height : 100%;
    width : 100pt;
    float : right;
}
.like_buttons{
    height :133px;
    width : 100%;
    background-repeat  : no-repeat;
    background-size : 100% 100%;
}
.dislike{
     background-image : url("../img/ratingbar_down.png");
}
.participant{
    padding : 20px;
    margin-top : 10px;
}
.carousel.me{
    margin-top : 20px;
    margin-bottom : 20px;

}
.me{
    margin-top : -30px;
}
.name{
    position  : absolute;
    bottom : 220px;
    left:30px;
    z-index:80;
}
.place_order{
    border : none;
    background-color : #d57e2d;
    color : #FFF;
    height : 40pt;
    margin-top : 15pt;
}
.justify-center{
    text-align : center;
}
.count{
    float:right;
    margin-right : 30px;
    line-height:30pt;
}
.thumb-up{
    background-image : url("../img/thumbs_up.png");
    width : 50%;
    height : 30pt;
    margin-top : 20pt;
    background-size : auto 100%;
    background-repeat : no-repeat;
    float:left;

}
.thumb-down{
     background-image : url("../img/thumbs_down.png");
     width : 50%;
    height : 30pt;
    margin-top : 20pt;
    background-size : auto 100%;
    background-repeat : no-repeat;
    float:left;
}
