html, body {
    height: 100%;
    width: 100%;
}

#participants {
    height: 100%;
}

.participant {
    height: 100%;
}


.carousel {
    width: 100%;
    overflow: hidden;
}

.carousel .train {
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: -webkit-transform 0.6s;
    white-space: nowrap;
}

.carousel .train .carriage {
    display: inline-block;
}

.carousel .train .carriage img.photo{
    width: 100%;
    -webkit-user-drag: none;
}

#test {
    background-color: #FFCC00;
    height: 100%;
}