html, body {
    height: 100%;
    width: 100%;
    max-height : 100%;
    max-width  : 100%;
    overflow : hidden;
    background-color: #e3e3e3;
    background-image: url('../img/background.png');
    background-repeat: repeat-x;
    background-position: left top;
    font-family : "champagne__limousinesregular";
}

#participants {
    height: 100%;
    margin: 0 auto;
}

.participant {
    height: 100%;
    width: 190px !important;
    padding : 20px;
    margin: 10px auto 0;
}

.me{
    margin-top : -30px;
}

.carousel {
    width: 100%;
    height: 144px;
    overflow: hidden;
    background-color : #FFF;
    position : relative;
}

.carousel.me {
    margin-top : 20px;
    margin-bottom : 20px;
}

.carousel .train {
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: -webkit-transform 0.6s;
    white-space: nowrap;
    width: calc(150px * 10);
}

.carousel .train .carriage {
    display: block;
    position : relative;
    float: left;
    -webkit-transform: translate3d(0,0,0);
}

.carousel .train .carriage img.photo{
    margin: 0 25px;
    width: 100px;
    height: 144px;
    -webkit-user-drag: none;
}
.carousel .train .carriage .price{
    position : absolute;
    right : 0;
    bottom : 0;
    background-color : #000;
    padding-left : 10px;
    padding-right:10px;
    padding-top : 2px;
    padding-bottom : 2px;
    color : #FFF;
    font-size: 15px;
}



.carousel .arrows {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: opacity 0.6s;
}

.touch .carousel .arrows {
    display: none;
}

.carousel .arrows:hover {
    opacity: 1.0;
}

.carousel .arrow-up {
    height: 40px;
    top: 0;
    left: 40px;
    right: 40px;
    background-image: url(../img/arrow_up.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.carousel .arrow-down {
    height: 40px;
    bottom: 0;
    left: 40px;
    right: 40px;
    background-image: url(../img/arrow_down.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.carousel .arrow-left {
    width: 40px;
    top: 0;
    left: 0;
    bottom: 0;
    background-image: url(../img/arrow_left.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.carousel .arrow-right {
    width: 40px;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: url(../img/arrow_right.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.carousel .arrow {
    position: absolute;
    opacity: 0.3;
    cursor: pointer;
}

.participant .name{
    text-align: center;
    background-color : #FFF;
    font-size: 22px;
    text-transform: capitalize;
}

.participant .like_buttons {
    height : 35px;
    width : 100%;
    background-color: black;
    position: relative;
}

.participant .like_buttons.dislike .down {
    opacity: 1.0;
}

.participant .like_buttons.like .up {
    opacity: 1.0;
}

.participant .like_buttons .up {
    width: 44px;
    height: 44px;
    background-image: url(../img/rating_up.png);
    position: absolute;
    top: -5px;
    right: 40px;
    opacity: 0.5;
    cursor: pointer;
    -webkit-transition: opacity 0.6s;
}

.participant .like_buttons .down {
    width: 44px;
    height: 44px;
    background-image: url(../img/rating_down.png);
    position: absolute;
    top: -5px;
    left: 40px;
    opacity: 0.5;
    cursor: pointer;
    -webkit-transition: opacity 0.6s;
}

.participant .shadow {
    width: 100%;
    height: 45px;
    background-image: url(../img/shadow.png);
    background-position: center top;
}

#action_bar{
    position : absolute;
    bottom : 0;
    left : 0;
    right: 0;
    height : 74px;
    background-color : black;
    color : white;
    font-size : 20px;
}

#logo{
    margin-top: 13px;
    text-align: right;
}

.total_price {
    margin-top: 10px;
    text-align: center;
}

.total_price #price {
    font-size: 1.3em;
    position: relative;
    top: -5px;
}

.place_order_wrapper {
    text-align: right;
}

.place_order{
    border: none;
    background-color : #d57e2d;
    color : #FFF;
    margin-top : 13px;
    padding: 12px 21px;
}

.rating .count{
    
}

.rating .legend {
    display: inline-block;
    line-height: 0.95em;
    margin-top: 20px;
    font-size: 0.9em;
}

.rating .thumbs-up{
    display: inline-block;
    margin: 0 10px;
    position: relative;
    top: -10px;
}

.rating .thumbs-down{
    display: inline-block;
    margin: 0 10px;
    position: relative;
    top: -10px;
}
